[build]
  command = "npm ci"
  functions = "functions"
  publish = "."

[[redirects]]
  from = "/*"
  to = "/.netlify/functions/server"
  status = 200

[functions]
  node_bundler = "esbuild"
  included_files = ["node_modules/**"]
